body {
    background-color:lightskyblue;
    width:fit-content;
    padding: 2px;
}
h1 {
    color: blue;
    border: 5px outset cyan;
    width:fit-content;
    padding: 2px;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.gallery img {
    object-fit: fill;
}
.img1 img {
    width: 200px;
}
.img1 img:hover {
    transform: translate(5px, -10px) scale(2);
    transition: ease-out 2s;
    filter: drop-shadow(10px 10px 10px);
}

.img2 img {
    width: 400px;
    height: auto;
}
.img2 img:hover {
    transform: translate(5px, -10px) scale(2);
    transition: ease-out 2s;
    filter: drop-shadow(10px 10px 10px);
}
.img3 img {
    width: 300px;
    height: auto;
}
.img3 img:hover {
    transform: translate(5px, -10px) scale(2);
    transition: ease-out 2s;
    filter: drop-shadow(10px 10px 10px);
}