body {
    background-color:lightskyblue;
    width:fit-content;
    padding: 2px;
}
h1 {
    color: blue;
    border: 5px outset cyan;
    width:fit-content;
    padding: 2px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gallery img {
    object-fit: contain;
}
.img1 img {
    width: 200px;
}
.img1 img:hover {
    transform: translate(5px, -10px) scale(2);
    transition: ease-out 2s;
    filter: drop-shadow(10px 10px 10px);
}
.squareToCircle {
    width: 200px;
    height: 200px;
    background-color: coral;
    animation: squareToCircle 2s 1s infinite alternate;
  }
  
  @keyframes squareToCircle {
      0% {
        border-radius: 0 0 0 0;
        background: coral;
        transform: translateX(500px) rotate(0deg);
      }
      25% {
        border-radius: 50% 0 0 0;
        background: darksalmon;
        transform: translateX(500px) rotate(45deg);
      }
      50% {
        border-radius: 50% 50% 0 0;
        background: indianred;
        transform: translateX(500px) rotate(90deg);
      }
      75% {
        border-radius: 50% 50% 50% 0;
        background: lightcoral;
        transform: translateX(500px) rotate(135deg);
      }
      100% {
        border-radius: 50% 50% 50% 50%;
        background: darksalmon;
        transform: translateX(500px) rotate(180deg);
      }
  }