body {
    background-color:lightskyblue;
    width:fit-content;
    padding: 2px;
}
h1 {
    color: blue;
    border: 5px outset cyan;
    width:fit-content;
    padding: 2px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gallery img {
    object-fit: contain;
}
.img1 img {
    width: 200px;
}
.img1 img:hover {
    transform: translate(5px, -10px) scale(1.1);
    transition: ease-out 1s;
    filter: drop-shadow(10px 10px 10px);
}